

.searchUser {
    background-color: white;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    padding: 10px 20px;
}

.searchBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.searchInputBox {
    position: relative;
}

.searchInput {
    padding: 10px;
    background-color: #e6e1e1;
    border-radius: 8px;
    outline: none;
    border: none;
    width: 320px;
}

.searchIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    border-radius: 8px;
    color: white;
    background-image: var(--buttonBg);
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: 0;
}

.logoApp {
    cursor: pointer;
    transition: 0.3s ease;
}

.logoApp:hover {
    transform: scale(1.2);
}

.searchIcon {
    transition: 0.3s ease;
}
.searchIcon:hover {
    transform: scale(1.1);
}

.ChatPageFalse {
    display: none;
}
.ChatPageTrue {
    display: block;
    padding-top: 10px;
}

.SearchPageFalse {
    display: block;
    padding-top: 20px;
}
.SearchPageTrue {
    display: none;
}

@media(max-width: 830px) {
    .searchBox {
        justify-content: none;
        gap: none;
    }

    .searchInput {
        max-width: 300px;
        width: 100%;
    }

    .searchUser {
        max-width: 300px;
        width: 100%;
        padding: 6px 10px;
    }

    .name {
        font-size: 16px;
    }
}

@media(max-width: 690px) {
    .searchUser {
        max-width: 250px;
        width: 100%;
    }

    .name {
        font-size: 12px;
    }
}

@media(max-width: 560px) {
    .searchUser {
        width: 100%;
    }
}